name: Customer trigger

on:
  workflow_dispatch:

env:
  ENVIRONMENT: London
  TEST_QUERY: test.py
  SLACK: true

jobs:
  trigger_dispatch_api:
    name: Trigger Repository Dispatch API
    runs-on: ubuntu-latest
    steps:
      - name: Permissions
        run: |
          curl -I -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
               -H "Accept: application/vnd.github.v3+json" \
               https://api.github.com

      - name: Send Repository Dispatch
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            -d '{
                  "event_type": "trigger-tests",
                  "client_payload": {
                    "CONFIG": {
                      "ENVIRONMENT": "${{ env.ENVIRONMENT }}",
                      "TEST_QUERY": "${{ env.TEST_QUERY }}",
                      "SLACK": "${{ env.SLACK }}",
                      "RUN_ID": "${{ github.RUN_ID }}",
                      "TRIGGER_URL": "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}",
                      "TRIGGERED_BY": "${{ github.actor }}"
                    }
                  }
                }' \
            https://api.github.com/repos/${{ github.repository }}/dispatches

      - name: Log Trigger Metadata
        run: |
          echo "Triggered by: ${{ github.actor }}"
          echo "Environment: ${{ env.ENVIRONMENT }}"
          echo "Test Query: ${{ env.TEST_QUERY }}"
          echo "Slack: ${{ env.SLACK }}"
          echo "Run ID: ${{ github.RUN_ID }}"
